html {
  font-family: "Raleway";
  height: 100%;
}

body {
  background-color: $bg;
  color: #fff;
  height: 100%;
  font-size: 1.025em;
  line-height: 1.4;

  &.content-hidden {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

strong {
  font-weight: 500;
}