@mixin f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin o-center {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}